.button {
  @extend %transition;
  @extend %font-Georgia-normal;
  @include font(1.7rem, 2.21rem);
  background: $color-primary;
  color: $color-dark-3xl;
  width: 26rem;
  height: 5.2rem;
  border-radius: 10rem;
  letter-spacing: 0.06em;
  border: 0px;
  cursor: pointer;

  &:hover {
    background: $color-primary-light;
  }
}

.card__button {
  @extend %transition;
  @extend %font-Georgia-normal;
  @include font(1.7rem, 2.21rem);
  background: $color-light-xl;
  color: $color-dark-3xl;
  width: 18.7rem;
  height: 5.2rem;
  border-radius: 10rem;
  letter-spacing: 0.06em;
  border: 2px solid $color-primary;
  margin-bottom: 3rem;
  cursor: pointer;

  &:hover {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}

.slider__button {
  @extend %transition;
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
