.our-friends {
  background-color: $color-light-l;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.our-friends__title {
  max-width: 40rem;
  text-align: center;
}

.our-friends__slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9rem;
  padding: 6rem;
  align-items: center; /* отцентровать по вертикали */
}

.slider__left-arrow {
  @extend %transition;
  left: -45px;
  top: 252px;
  background-image: url('/assets/svg/left-arrow.svg');
  &:hover {
    cursor: pointer;
    background-image: url('/assets/svg/left-arrow_hover.svg');
  }
}

.slider__right-arrow {
  @extend %transition;
  left: 1102px;
  top: 252px;
  background-image: url('/assets/svg/right-arrow.svg');
  &:hover {
    cursor: pointer;
    background-image: url('/assets/svg/right-arrow_hover.svg');
  }
}

.our-friends__slider__card {
  @extend %transition;
  background-color: $color-light-s;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 27rem;
  height: 43.5rem;
  &:hover {
    cursor: pointer;
    background-color: $color-light-xl;
    & .card__button {
      background: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
  }
}

.card__img_1 {
  background-image: url('/assets/img/our-friends/1.png');
}

.card__img_2 {
  background-image: url('/assets/img/our-friends/2.png');
}

.card__img_3 {
  background-image: url('/assets/img/our-friends/3.png');
}

.card__title {
  color: $color-dark-l;
  @extend %font-Georgia-normal;
  @include font(2rem, 2.3rem);
  font-family: Georgia;
  letter-spacing: 0.06em;
  text-align: center;
}

.button__link {
  color: $color-dark-3xl;
}
